<launch>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find rbe3002_lab3)/src/maps/simple_map.yaml"/>

    	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find rbe3002_lab3)/src/rviz/rbe3002_lab3.rviz"/>

    	<node pkg="rbe3002_lab3" type="path_planner.py" name="lab3"/>

	<node pkg="rbe3002_lab3" type="path_planner_client.py" name="path_planner_client"/>

	<node pkg="rbe3002_lab2" type="lab2.py" name="lab2"/>

	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  	<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    	<arg name="model" value="$(arg model)"/>
	</include>



</launch>
