<launch>
	<!--tf node -->
	<node name="tf_pub" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 100"/>

	<!--launch world and robot -->
	<include file="$(find rbe3002_final)/launch/maze_sim.launch"/>

	<!--gmapping -->
	<!--<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch"/>-->
	<include file="$(find rbe3002_lab4)/src/launch/turtlebot3_slam.launch"/>
		<!--<arg name="slam_methods" value="gmapping"/> -->

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find rbe3002_lab4)/src/rviz/turtlebot3_gmapping.rviz"/>

	<!-- CSpace node -->
	<node pkg="rbe3002_lab4" type="cspace.py" name="cspace"/>

	<!-- frontier_exploration node 
	<node pkg="rbe3002_lab4" type="frontier_exploration.py" name="frontier_exploration"/>-->

	<!-- global_planner node -->
	<node pkg="rbe3002_lab4" type="global_planner.py" name="global_planner"/>

	<!-- navigation node --> 
	<node pkg="rbe3002_lab4" type="navigation.py" name="navigation"/>

	<!-- Lab4Client node -->
	<node pkg="rbe3002_lab4" type="Lab4Client.py" name="Lab4Client"/>


	<!-- -->

</launch>
